.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.home__header {
    display: flex;
    justify-content: end;
    padding: 20px 30px;
    align-items: center;
}
.home__header > .MuiSvgIcon-root {
    margin-right: 20px;
}
.home__body {
    flex: 1;
    margin-top: 10%;
    flex-direction: column;
    
}

.home__body > img {
    object-fit: contain;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home__footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.home a {
    margin-right: 20px;
    text-decoration: inherit;
    color: gray;
    font-size: 15px;
}

.home a:hover{
    text-decoration: underline;
}